.header {
    width: 100%;
    height: 30rem;

    &__top-side {
        height: 15rem;
        background-color: #333;
    }

    &__bottom-side {
        height: 15rem;
        background-color: transparent;
    }

    &__profile-box {
        max-width: 100rem;
        margin: 0 auto;
        position: relative;
    }

    &__picture {
        position: absolute;
        top: -9rem;
        left: 5rem;

        width: 18rem;
        height: 18rem;

        background-image: url(../img/profile.jpg);
        background-size: cover;
        background-position: center;

        border-radius: 50%;
        border: 0.5rem solid #fff;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
            rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

        cursor: pointer;
        transition: filter 0.05s;
    }

    &__picture:hover {
        filter: brightness(1.05);
    }

    &__details {
        position: absolute;
        top: 1.5rem;
        left: 26rem;
    }

    &__name {
        font-size: 3.2rem;
        font-weight: 500;
        margin-bottom: 0.5rem;
    }

    &__about {
        font-size: 2rem;
        font-weight: 300;
    }
}

@media only screen and (max-width: 32em) {
    .header {
        &__picture {
            left: 50%;
            transform: translateX(-50%);
        }

        &__details {
            text-align: center;
            left: 50%;
            top: 12rem;
            transform: translateX(-50%);

            width: 100%;
        }

        &__name {
            font-size: 3.5rem;
        }

        &__about {
            font-size: 2.5rem;
        }
    }
}
